<div class="prediction py-4 border-b border-gray-400">
  <div class="summary flex flex-row">
    <dt class="name w-1/2">
      <%= @prediction.name %>
    </dt>
    <dd class="flex flex-row w-1/2">
    </dd>
  </div>
</div>
