<div class="daqi-value text-lg">
  Index 4/10
</div>
<div class="direction text-leg font-bold">
  Protection required
</div>
<div class="guidance mt-4">
  Close windows and avoid going outdoors if possible. In particular avoid grassy open spaces. Consider wearing wrap-around sunglasses to stop pollen getting in your eyes when outdoors.
</div>
