<div class="learning bg-gray-100 p-8 mt-12">
  <header class="text-xl font-bold text-center w-full mb-8">
    Do you know how you can protect yourself and others in your community?
  </header>
  <a href="#" class="block w-full py-4 px-8 rounded-md text-lg font-bold bg-gray-200 border border-gray-700 text-center mb-4">
    Learn more about health effects
  </a>
</div>
