<div class="sharing px-4 mt-4">
  <button class="inline-flex px-8 py-2 rounded-md bg-slate-800 text-slate-50 w-full">
    <div class="icon">
      <%= render "shared/icons/share" %>
    </div>
    <div class="label ml-4">
      Share with others you care about
    </div>
  </button>
</div>
