<div class="tabs flex flex-row items-stretch mt-4 m-1 text-xs font-bold ">
  <div class="tab py-4 flex-1 today mx-2 px-1 text-center daqi-low border-b-0 border-l-2 border-r-2 border-t-2 border-gray-300">
    <div class="day">
      Today
    </div>
    <div class="date">
      06 October
    </div>
    <div class="daqi-marker text-4xl py-2 text-green-600">
      ●
    </div>
    <div class="daqi-label text-base">
      Low
    </div>
    <div class="daqi-value font-normal">
      Index 3/10
    </div>
  </div>
  <div class="tab py-4 flex-1 tomorrow mx-2 px-1 text-center daqi-low border-b-0 border-l border-r border-t border-gray-300 border-dotted">
    <div class="day">
      Saturday
    </div>
    <div class="date">
      05 October
    </div>
    <div class="daqi-marker text-4xl py-2 text-green-600">
      ●
    </div>
    <div class="daqi-label text-base">
      Low
    </div>
    <div class="daqi-value font-normal">
      Index 3/10
    </div>
  </div>
  <div class="tab py-4 flex-1 day-after-tomorrow mx-2 px-1 text-center daqi-moderate bg-amber-300 border-b-0 border-l border-r border-t border-gray-300 border-dotted">
    <div class="day">
      Sunday
    </div>
    <div class="date">
      06 October
    </div>
    <div class="daqi-marker text-4xl py-2">
      ⚠️
    </div>
    <div class="daqi-label text-base">
      Moderate
    </div>
    <div class="daqi-value font-normal">
      Index 6/10
    </div>
  </div>
</div>
