<div class="daqi-spectrum flex flex-row mb-4 text-center">
  <div class="py-2 daqi-level grow bg-lime-400">1</div>
  <div class="py-2 daqi-level grow bg-green-400">2</div>
  <div class="py-2 daqi-level grow bg-lime-600">3</div>
  <div class="py-2 daqi-level grow bg-yellow-300">4</div>
  <div class="py-2 daqi-level grow bg-amber-200">5</div>
  <div class="py-2 daqi-level grow bg-yellow-500">6</div>
  <div class="py-2 daqi-level grow bg-orange-500">7</div>
  <div class="py-2 daqi-level grow bg-red-500">8</div>
  <div class="py-2 daqi-level grow bg-red-800">9</div>
  <div class="py-2 daqi-level grow bg-stone-700">10</div>
</div>
