<div class="navigation text-5xl nav text-right">
  <button id="hamburger-menu">
   ☰
  </button>
  <ul id="menu-list" class="hidden text-sm">
    <li>Air quality forecast</li>
    <li>Alerts</li>
    <li>Health information</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>
