<header class="bg-gray-50" >
  <%= render "shared/daqi_scale" %>
  <div class="flex flex-row p-4" >
    <div class="heading bg-gray-50 grow" >
      <h1 class="text-4xl font-bold">
        airTEXT
      </h1>
      <div class="strap-line text-sm">
        Air Quality Service
      </div>
    </div>
    <div class="navigation text-5xl">
      <div class="nav text-right">
        ☰
      </div>
    </div>
  </div>
</header>
