<nav class="py-8 px-6">
  <ul>
    <li class="mb-2"><a href="#" class="font-bold">Air quality forecast</a></li>
    <li class="mb-2"><a href="#" class="">Alert service</a></li>
    <li class="mb-2"><a href="#" class="">Health information</a></li>
    <li class="mb-2"><a href="#" class="">About</a></li>
    <li class="mb-2"><a href="#" class="">Contact</a></li>
  </ul>
</nav>
