<ul class="terms-and-conditions text-xs text-center px-4 py-8 w-full flex flex-row flex-wrap space-x-1 ">
  <li class="grow text-nowrap border-r-gray-500 border-r pr-1">
    <a class="">Terms & conditions</a>
  </li>
  <li class="grow text-nowrap border-r-gray-500 border-r pr-1">
    <a class="">Cookie policy</a>
  </li>
  <li class="grow text-nowrap">
    &copy CERC 2024. All rights reserved
  </li>
</ul>
