<section class="container">
  <div class="row">
    <article class="col">
      <h1>Forecasts</h1>
      <aside class="air-quality-alerts">
        <% if @alerts.empty? %>
          <%= govuk_notification_banner(
            title_text: "No air quality alerts",
            text: "Enjoy your usual outdoor activities.",
            success: true
          ) %>
        <% end %>
      </aside>
      <form method="GET" action="<%= forecast_path %>">
        <label for="zone">
          Which area are you interested in?
        </label>
        <%= select_tag :zone, options_for_select(@zones), prompt: 'Select an area' %>
        <button type="submit" data-prevent-double-click="true">View forecast</button>
      </form>
      <%= govuk_table do |table|
        table.with_caption(size: 'm', text: "Three day forecast for #{@forecast["zone_name"]}")

        table.with_head do |head|
        head.with_row do |row|
        row.with_cell(text: '')
        row.with_cell(text: Date.parse(@dates[0]).to_formatted_s(:short))
        row.with_cell(text: Date.parse(@dates[1]).to_formatted_s(:short))
        row.with_cell(text: Date.parse(@dates[2]).to_formatted_s(:short))

        end; end; table.with_body do |body|
        body.with_row(html_attributes: {class: "air-pollution"}) do |row|
        row.with_cell(text: 'Air pollution')
        @forecast["forecasts"].map { | forecast|
          row.with_cell(
            text: forecast["total_status"].capitalize,
            html_attributes: { "data-date" => forecast['forecast_date']}
          )
        }
        end;
        body.with_row(html_attributes: {class: "uv"}) do |row|
        row.with_cell(text: 'UV')
        @forecast["forecasts"].map { | forecast|
          row.with_cell(
            text: forecast["uv"],
            html_attributes: { "data-date" => forecast['forecast_date']}
          )
        }
        end;
        body.with_row(html_attributes: {class: "pollen"}) do |row|
          row.with_cell(text: 'Pollen')
          @forecast["forecasts"].map { | forecast|
            row.with_cell(text: forecast["pollen"],
              html_attributes: { "data-date" => forecast['forecast_date']}
            )
          }
        end;
        body.with_row(html_attributes: {class: "temperature"}) do |row|
          row.with_cell(text: 'Temperature')
          @forecast["forecasts"].map { | forecast|
            row.with_cell(
              text: "#{forecast["temp_min"].round}-#{forecast["temp_max"].round}°C",
              html_attributes: { "data-date" => forecast['forecast_date']}
            )
          }
        end;
        end; end %>
    </article>
  </div>
</section>
