%cta {
  padding: 0.5rem 2rem;
  width: calc(100% - 4rem);
  max-width: 400px;
  border: 2px solid;
  border-radius: var(--border-radius);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.primary-cta {
  @extend %cta;

  color: white;
  background-color: var(--main-colour-700);
  border-color: var(--main-colour-700);

  &:hover {
    background-color: var(--main-colour-800);
    border-color: var(--main-colour-800);
  }

  &:focus {
    background-color: var(--main-colour-800);
    border-color: var(--main-colour-highlight);
    outline: 2px solid var(--main-colour-highlight);
  }
}

.secondary-cta {
  @extend %cta;

  color: var(--main-colour-700);
  background-color: white;
  border-color: var(--main-colour-700);

  &:hover {
    background-color: var(--main-colour-300);
  }

  &:focus {
    background-color: var(--main-colour-300);
    border-color: var(--main-colour-highlight);
    outline: 2px solid var(--main-colour-highlight);
  }
}
