@use "variables";

.c-pages.a-about {
  main {
    display: flex;
    flex-wrap: wrap;

    article {
      flex: 2;
    }

    aside {
      flex: 1;
    }

    ul.consortium-list {
      margin-bottom: 1rem;
      margin-left: 1rem;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}
