@use "variables";

.air-quality-alert-banner {
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  border-top: 1px solid white;
  flex-basis: 100%;

  @media (min-width: variables.$mobile-breakpoint) {
    margin: 1.5rem;
  }

  &.no-alert {
    background-color: var(--main-colour-lightest);
  }

  .air-quality-alert-icon {
    svg {
      width: 3rem;
      margin-top: 5px;
    }
  }

  .air-quality-alert-text {
    strong {
      display: block;
      font-size: 1.5rem;
    }

    a {
      text-decoration: underline;
    }
  }
}
