@use "variables";

.c-forecasts.a-alerts {
  main {
    display: flex;
    flex-wrap: wrap;

    article {
      flex: 2;
    }

    aside {
      flex: 1;
    }
  }

  .details-wrapper {
    @media (max-width: variables.$mobile-breakpoint) {
      margin: 0 -1rem;
    }
  }

  details {
    summary {
      border-top: 1px solid var(--border-color);
    }

    &:last-child {
      summary {
        border-bottom: 1px solid var(--border-color);
      }
    }

    &[open] {
      margin-bottom: 1rem;
    }
  }

  .air-quality-alerts-table {
    @media (min-width: variables.$mobile-breakpoint) {
      border: 1px solid var(--lightest-grey);
    }

    .cell {
      padding: 1rem;
    }

    .table-header {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
      background-color: var(--main-colour-lightest);

      @media (max-width: variables.$mobile-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1rem;
      }

      h2 {
        padding: 1rem;
        background: var(--light-grey);
        grid-row: 1;
        grid-column: 1 / span 4;
      }

      h3 {
        grid-row: 2;
        text-align: center;

        @media (min-width: variables.$mobile-breakpoint) {
          @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
              grid-column: #{$i + 1};
            }
          }
        }
      }
    }

    .table-body {
      .row {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;

        @media (max-width: variables.$mobile-breakpoint) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        &:nth-child(2n) {
          @media (min-width: variables.$mobile-breakpoint) {
            background-color: var(--lightest-grey);
          }
        }
      }

      .zone-name {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        @media (max-width: variables.$mobile-breakpoint) {
          grid-column: 1 / span 4;
          background-color: var(--light-grey);
        }

        h4 {
          font-weight: bold;
        }

        a {
          color: var(--black);
        }
      }

      .zone-day-alert {
        border-left: 1px solid var(--mid-grey);
        grid-row: 1;
        border-collapse: collapse;

        @media (max-width: variables.$mobile-breakpoint) {
          grid-row: 2;
          border-left: 1px solid var(--light-grey);
          border-bottom: 1px solid var(--light-grey);

          &:last-child {
            border-right: 1px solid var(--light-grey);
          }
        }

        .label {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &::after {
            content: "";
            float: right;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1px solid var(--mid-grey);
            display: none;
          }

          @for $i from 1 through 10 {
            &.daqi-level-#{$i}::after {
              background-color: var(--daqi-level-#{$i}-color);
              display: block;
            }
          }
        }

        .value {
          font-size: 0.85rem;
        }
      }

      .no-alerts {
        background: none;

        span {
          background: var(--main-colour-lightest);
          display: block;
          padding: 2rem;
          text-align: center;
          text-wrap: balance;
        }
      }
    }
  }
}
