.c-forecasts.a-alerts {
  main {
    display: flex;
    flex-wrap: wrap;

    article {
      flex: 2;
    }

    aside {
      flex: 1;
    }
  }

  .air-quality-alerts-table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--light-grey);

    th,
    td {
      padding: 1rem;
      text-align: left;
    }

    thead {
      tr:first-child {
        background-color: #e6e6e6;
      }
    }

    tbody {
      tr:nth-child(2n + 1) {
        background-color: var(--light-grey);
      }

      .day-labels {
        th {
          text-align: center;
        }
      }

      td.zone-name {
        a {
          float: right;
        }
      }

      td.zone-day-alert {
        border-left: 1px solid var(--mid-grey);
        width: 22%;

        .label {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &::after {
            content: "";
            float: right;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1px solid var(--mid-grey);
          }

          @for $i from 1 through 10 {
            &.daqi-level-#{$i}::after {
              background-color: var(--daqi-level-#{$i}-color);
            }
          }
        }

        .value {
          font-size: 0.85rem;
        }
      }

      tr.no-alerts {
        background: none;

        span {
          background: var(--main-colour-lightest);
          display: block;
          padding: 2rem;
          text-align: center;
          text-wrap: balance;
        }
      }
    }
  }
}
