:root {
  --daqi-level-1-bg: rgb(149 225 114);
  --daqi-level-2-bg: rgb(147 191 115);
  --daqi-level-3-bg: rgb(89 153 121);
  --daqi-level-4-bg: rgb(252 255 117);
  --daqi-level-5-bg: rgb(251 219 110);
  --daqi-level-6-bg: rgb(251 194 107);
  --daqi-level-7-bg: rgb(251 150 100);
  --daqi-level-8-bg: rgb(250 92 96);
  --daqi-level-9-bg: rgb(154 88 108);
  --daqi-level-10-bg: rgb(86 86 86);
  --daqi-level-1-text: black;
  --daqi-level-2-text: black;
  --daqi-level-3-text: black;
  --daqi-level-4-text: black;
  --daqi-level-5-text: black;
  --daqi-level-6-text: black;
  --daqi-level-7-text: white;
  --daqi-level-8-text: white;
  --daqi-level-9-text: white;
  --daqi-level-10-text: white;
}

@for $i from 1 through 10 {
  .daqi-scale,
  .tabs,
  .daqi-table,
  .air-quality-alert-banner {
    .daqi-level-#{$i} {
      --daqi-color: var(--daqi-level-#{$i}-bg);

      background-color: var(--daqi-color);
      color: var(--daqi-level-#{$i}-text);
    }
  }
}

.daqi-level-low {
  --daqi-color: var(--daqi-level-2-bg);

  background-color: var(--daqi-color);
  color: var(--daqi-level-2-text);
}

.daqi-level-moderate {
  --daqi-color: var(--daqi-level-5-bg);

  background-color: var(--daqi-color);
  color: var(--daqi-level-5-text);
}

.daqi-level-high {
  --daqi-color: var(--daqi-level-8-bg);

  background-color: var(--daqi-color);
  color: var(--daqi-level-8-text);
}

.daqi-level-very-high {
  --daqi-color: var(--daqi-level-10-bg);

  background-color: var(--daqi-color);
  color: var(--daqi-level-10-text);
}

// .stroke-white {
//   svg {
//     stroke: white;
//   }
// }

// .stroke-black {
//   svg {
//     stroke: black;
//   }
// }
