.site-footer {
  color: white;
  padding: 2rem 1.5rem;
  background-color: var(--main-colour);

  nav {
    li {
      padding: 0.5rem 0;

      a.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .terms-and-conditions {
    margin-top: 1.5rem;
    font-size: 0; /* Remove whitespace between inline-block elements */

    li {
      font-size: 0.75rem;
      display: inline-block;
      border-right: 1px solid white;
      padding: 0 0.5rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}
