@use "variables";

.site-footer {
  color: white;
  padding: 1rem;
  background-color: var(--main-colour-700);

  .footer-content {
    max-width: var(--max-width);
    margin: 0 auto;

    @media (min-width: variables.$mobile-breakpoint) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  nav {
    grid-column: 1;
    grid-row: 1 / span 2;

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      font-size: 1.25rem;
      align-items: flex-start;

      li {
        a {
          padding: 0.5rem 1rem;
          display: block;

          &:hover {
            background-color: var(--main-colour-800);
          }

          &.active {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }

      @media (max-width: variables.$mobile-breakpoint) {
        li {
          margin-left: -1rem;
        }
      }
    }
  }

  .site-logo {
    grid-column: 2;
    grid-row: 1;
    text-align: right;

    @media (max-width: variables.$mobile-breakpoint) {
      display: none;
    }

    svg {
      max-height: 40px;
    }
  }

  .terms-and-conditions {
    margin-top: 1rem;
    font-size: 0; /* Remove whitespace between inline-block elements */

    @media (min-width: variables.$mobile-breakpoint) {
      grid-column: 2;
      grid-row: 2;
      align-self: end;
    }

    li {
      font-size: 1rem;

      @media (max-width: variables.$mobile-breakpoint) {
        display: inline-block;
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        border-right: 1px solid white;
      }

      @media (min-width: variables.$mobile-breakpoint) {
        text-align: right;
        padding: 0.5rem 0;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}
