@use "variables";

.c-forecasts.a-show {
  .tabs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px solid var(--grey-400);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    gap: 0.375rem;

    .tab {
      flex: 1;
      padding: 0.5rem 0.25rem;
      font-size: 0.75rem;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
      border: 1px solid;
      cursor: pointer;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      background-color: white;
      color: var(--primary-text-color);

      &.active {
        border-color: var(--grey-400);
        border-style: solid;
        border-bottom: 0;
        margin-bottom: -1px;
      }

      &.inactive {
        border-color: var(--grey-300);
        border-style: dashed;
        border-bottom: 0;
        color: var(--grey-400);
        background: var(--grey-50);
      }

      .day,
      .date {
        @media (min-width: variables.$mobile-breakpoint) {
          display: inline-block;
        }
      }

      .daqi-indicator {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin: 0.25rem auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &.daqi-label-low {
          background: var(--daqi-color);
        }

        &.daqi-label-moderate {
          --triangle-fill: var(--daqi-color);
          --triangle-stroke: var(--grey-400);
          --exclamation-mark-color: var(--grey-400);
        }

        &.daqi-label-high,
        &.daqi-label-very-high {
          --triangle-fill: var(--daqi-color);
          --triangle-stroke: transparent;
          --exclamation-mark-color: white;
        }

        svg {
          width: 100%;

          #triangle {
            fill: var(--triangle-fill);
            stroke: var(--triangle-stroke);
          }

          #exclamation-mark {
            stroke: var(--exclamation-mark-color);
          }
        }
      }

      .daqi-label {
        font-size: 1rem;
      }

      .daqi-value {
        font-weight: normal;
      }
    }
  }

  .tab-contents {
    padding: 1rem;
    border: 1px solid var(--grey-400);
    border-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    .alert-guidance {
      background-color: color-mix(in srgb, var(--daqi-color) 15%, transparent);
      color: var(--primary-text-color);

      .forecast-timestamp {
        text-align: left;
      }
    }

    #map-wrapper {
      display: flex;
      position: relative;

      .map {
        width: 100%;
        min-height: 300px;
        height: 60vh;
      }

      .daqi-scale {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        z-index: 1000;
        top: 50px; // 50px for the search box
        height: calc(
          100% - 50px - 20px
        ); // 50px for the search box, 20px for the bottom padding

        > div {
          flex: 1;
          display: grid;

          span {
            grid-column: 2;
            grid-row: 1 / 4;
            writing-mode: vertical-lr;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 75%;
            background-color: var(--main-colour-200);
            padding: 2px 4px;
            border-bottom: 0.5px solid black;
          }

          &:first-child {
            span {
              grid-row: 1 / 1;
            }
          }

          &:last-child {
            span {
              border-bottom: 0;
            }
          }

          > div {
            grid-column: 1;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .pollutant-selector {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin: 1rem 0;

      .pollutant {
        padding: 0.5rem 0.75rem;
        border-radius: var(--border-radius);
        cursor: pointer;
        background-color: var(--grey-100);
        color: var(--grey-500);
        text-align: center;

        input {
          display: none !important;
        }

        label {
          cursor: pointer;
        }

        &:has(input:checked) {
          background-color: var(--grey-500);
          color: var(--grey-100);

          &::before {
            content: "✓";
            margin-right: 5px;
          }
        }
      }
    }

    .explanatory-link {
      text-align: right;
    }

    .pollution-index-notice {
      padding: 1rem;
      background-color: var(--main-colour-200);
    }

    .predictions {
      > * {
        padding: 0.75rem 0;
      }

      .prediction {
        border-top: 1px solid var(--grey-200);

        &:last-child {
          border-bottom: 1px solid var(--grey-200);
        }

        .summary {
          display: flex;
          gap: 0.5rem;
          justify-content: space-between;

          dt {
            font-weight: 600;
          }

          dd {
            text-align: right;
          }
        }

        .guidance {
          margin-top: 0.5rem;
          padding: 1.5rem;
          background: var(--grey-100);
        }
      }
    }

    .forecast-timestamp {
      text-align: center;
      margin-top: 0.5rem;
    }
  }

  // Desktop layout
  main {
    @media (min-width: variables.$mobile-breakpoint) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto auto 1fr;

      > h1 {
        grid-row: 1;
        grid-column: 1;
      }

      > div {
        grid-column: 1;
        grid-row: -1;
      }

      div#intro {
        grid-row: 2;
        grid-column: 1;
      }

      div#forecast {
        grid-row: 3;
        grid-column: 1;

        .colour-scale-link {
          display: none;
        }

        .pollutant-info-link {
          text-align: left;
        }
      }

      div#health-advice-block {
        grid-row: 2;
        grid-column: 2;
        border-radius: var(--border-radius);
        margin-right: 1.5rem;
      }

      div#how-forecasts-are-made {
        grid-row: 4;
        grid-column: 1;
        margin: 1rem;

        details {
          border: 1px solid var(--grey-100);
          border-top: none;

          summary {
            border-top: 1px solid var(--grey-400);
            border-bottom: 1px solid var(--grey-400);
            background: var(--grey-100);
          }

          &[open] {
            summary {
              border-bottom: none;
            }
          }
        }
      }

      div#daqi-scale-info {
        grid-row: 3 / span 2;
        grid-column: 2;
        margin-right: 1.5rem;
        margin-top: calc(
          1.5rem + 2rem - 1px
        ); // 1.5 for the height of the heading (1.25rem x 1.2), 2 for the margins, 1px nudge

        height: fit-content;
        margin-bottom: 1.5rem;
        border: 1px solid var(--grey-400);
        border-radius: var(--border-radius);
      }
    }
  }
}
