.site-header {
  background-color: var(--main-colour);
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 1.5rem;

  .site-title {
    color: white;
    text-align: center;

    .site-name {
      font-size: 1.4rem;
      font-weight: bold;
      display: block;
    }

    .site-strapline {
      font-size: 0.5rem;
      display: block;
    }
  }

  button {
    font-size: 3rem; /* equivalent to text-5xl */
    flex: 1 1 auto;
    color: white;
    text-align: right;
    line-height: 0;
    margin-right: -7px;
    background: none;
    border: none;

    &::before {
      content: "☰";
      font-size: 4rem;
      bottom: 0.25rem;
      position: relative;
    }

    &.menu-open {
      &::before {
        content: "✕";
        font-size: 3.25rem;
        bottom: 0;
        right: 8px;
      }
    }
  }

  nav {
    color: white;
    width: 100%;

    ul {
      font-size: 1.25rem; /* equivalent to text-xl */
      margin: 1rem 0;
      list-style: none;
      padding: 0;

      li {
        padding-top: 1rem;

        a.active {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
