@use "variables";

.c-pages.a-health_advice {
  main {
    display: flex;
    flex-wrap: wrap;

    article {
      flex: 2;
    }

    aside {
      flex: 1;
    }
  }

  .details-wrapper {
    @media (max-width: variables.$mobile-breakpoint) {
      margin: 0 -1rem;
    }
  }

  details {
    summary {
      border-top: 1px solid var(--grey-400);

      h2 {
        font-size: 1.25rem;
      }
    }

    &:last-of-type {
      summary {
        border-bottom: 1px solid var(--grey-400);
      }
    }

    &[open] {
      margin-bottom: 1rem;
    }
  }
}
