@use "variables";

.c-pages.a-health_advice {
  main {
    display: flex;
    flex-wrap: wrap;

    article {
      flex: 2;
    }

    aside {
      flex: 1;
    }
  }

  details {
    border: 1px solid white;

    @media (max-width: variables.$mobile-breakpoint) {
      margin: 0 -1.5rem;
    }

    &[open] {
      border: 1px solid var(--lightest-grey);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--border-color);
    }

    summary {
      border-top: 1px solid var(--border-color);
    }
  }
}
