/* Airtext specific styles */

.leaflet-marker-icon.zone-label {
  width: auto !important;
  height: auto !important;

  &.zone-label-level-1 {
    font-weight: bold;
  }

  .wrapper {
    display: flex;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 12px;
    background-color: white;
    text-align: center;
    border-radius: 3px;
  }

  .zone-name {
    padding: 0 6px;
  }

  .daqi-indicator {
    padding: 0 6px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 4px;
    }

    &.daqi-level-1::before {
      background-color: var(--daqi-level-1-color);
    }

    &.daqi-level-2::before {
      background-color: var(--daqi-level-2-color);
    }

    &.daqi-level-3::before {
      background-color: var(--daqi-level-3-color);
    }

    &.daqi-level-4::before {
      background-color: var(--daqi-level-4-color);
    }

    &.daqi-level-5::before {
      background-color: var(--daqi-level-5-color);
    }

    &.daqi-level-6::before {
      background-color: var(--daqi-level-6-color);
    }

    &.daqi-level-7::before {
      background-color: var(--daqi-level-7-color);
    }

    &.daqi-level-8::before {
      background-color: var(--daqi-level-8-color);
    }

    &.daqi-level-9::before {
      background-color: var(--daqi-level-9-color);
    }

    &.daqi-level-10::before {
      background-color: var(--daqi-level-10-color);
    }
  }
}

.fullscreen-icon {
  /* From node_modules/leaflet.fullscreen/icon-fullscreen.svg */
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 26 52" xmlns="http://www.w3.org/2000/svg"><path d="M20.6 36.7H16a.9.9 0 0 1-.8-.8v-4.5c0-.2.2-.4.4-.4h1.4c.3 0 .5.2.5.4v3h3c.2 0 .4.2.4.5v1.4c0 .2-.2.4-.4.4zm-9.9-.8v-4.5c0-.2-.2-.4-.4-.4H8.9c-.3 0-.5.2-.5.4v3h-3c-.2 0-.4.2-.4.5v1.4c0 .2.2.4.4.4H10c.4 0 .8-.4.8-.8zm0 10.7V42c0-.4-.4-.8-.8-.8H5.4c-.2 0-.4.2-.4.4v1.4c0 .3.2.5.4.5h3v3c0 .2.2.4.5.4h1.4c.2 0 .4-.2.4-.4zm6.9 0v-3h3c.2 0 .4-.2.4-.5v-1.4c0-.2-.2-.4-.4-.4H16c-.4 0-.8.4-.8.8v4.5c0 .2.2.4.4.4h1.4c.3 0 .5-.2.5-.4zM5 10.3V5.9c0-.5.4-.9.9-.9h4.4c.2 0 .4.2.4.4V7c0 .2-.2.4-.4.4h-3v3c0 .2-.2.4-.4.4H5.4a.4.4 0 0 1-.4-.4zm10.3-4.9V7c0 .2.2.4.4.4h3v3c0 .2.2.4.4.4h1.5c.2 0 .4-.2.4-.4V5.9c0-.5-.4-.9-.9-.9h-4.4c-.2 0-.4.2-.4.4zm5.3 9.9H19c-.2 0-.4.2-.4.4v3h-3c-.2 0-.4.2-.4.4v1.5c0 .2.2.4.4.4h4.4c.5 0 .9-.4.9-.9v-4.4c0-.2-.2-.4-.4-.4zm-9.9 5.3V19c0-.2-.2-.4-.4-.4h-3v-3c0-.2-.2-.4-.4-.4H5.4c-.2 0-.4.2-.4.4v4.4c0 .5.4.9.9.9h4.4c.2 0 .4-.2.4-.4z" fill="white"/></svg>');
}

.leaflet-control-locate-location-arrow {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M445 4 29 195c-48 23-32 93 19 93h176v176c0 51 70 67 93 19L508 67c16-38-25-79-63-63z"/></svg>') !important;
}

.leaflet-pane {
  .maplibregl-ctrl-attrib {
    display: none; /* Hide duplicate attributions */
  }
}

.leaflet-control-attribution {
  font-size: 50%;
}

.leaflet-bottom.leaflet-left {
  bottom: 10px !important;
}

.maplibregl-control-container {
  display: none;
}

.leaflet-container {
  a {
    img {
      height: 14px; /* Make the Maptiler logo smaller to fit on mobile */
      width: auto;
    }
  }
}

.leaflet-control:not(.leaflet-control-attribution) {
  border: none;
  box-shadow: 0 1px 2px rgb(0 0 0 / 65%);
  border-radius: 4px;
}

.leaflet-bar a {
  background-color: black;
  color: white;

  &:hover,
  &:focus {
    background-color: black;
  }
}

.leaflet-top:has(.leaflet-ctrl-geocoder) {
  .leaflet-ctrl-geocoder {
    max-width: 100%;

    form {
      max-width: 100%;

      input {
        height: 30px;
      }
    }
  }
}
