@use "variables";
@use "buttons";

.c-subscriptions.a-show {
  .intro {
    display: flex;
    flex-wrap: wrap;

    div {
      flex: 2;
    }

    aside {
      flex: 1;
    }
  }

  .form {
    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea,
    select {
      width: calc(100% - 1.5rem);
      padding: 0.5rem 0.75rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--grey-200);
      outline: none;
      font-size: 1rem;

      &:focus {
        border-color: var(--main-colour-700);
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      display: inline-block;
      margin: 0 0.5rem 0 0;
      position: relative;
      top: 1px;
    }

    .radio-wrapper {
      display: flex;
      align-items: baseline;

      label {
        margin: 0;
      }

      .hint {
        display: block;
        font-size: 75%;
      }
    }

    .checkbox-wrapper {
      display: flex;
      align-items: baseline;
    }

    select {
      width: 100%;
      padding: 0.5rem;
    }

    .switch-row {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
    }

    .switch {
      position: relative;
      display: inline-block;

      --switch-width: 2rem;
      --switch-height: 1rem;
      --dot-size: 0.875rem;
      --offset: 0.25rem;

      input[type="checkbox"] {
        margin: 0;
        appearance: none;
        width: calc(var(--switch-width) + var(--offset));
        height: calc(var(--switch-height) + var(--offset));
        border-radius: 9999px;
        border: 1px solid var(--main-colour-700);

        &:checked {
          background-color: var(--main-colour-700);

          + label {
            transform: translateX(
              calc(2rem - var(--dot-size) - var(--offset) + 2px)
            );
            background-color: white;
          }
        }

        cursor: pointer;
        transition: background-color 0.3s;
      }

      // The label is the dot that moves
      label {
        position: absolute;
        top: calc(
          var(--switch-height) / 2 - var(--dot-size) / 2 + var(--offset) / 2 +
            1px
        );
        left: calc(var(--offset) - 1px);
        width: var(--dot-size);
        height: var(--dot-size);
        background-color: var(--main-colour-700);
        border-radius: 9999px;
        transition: transform 0.3s;
        cursor: pointer;
      }
    }

    .buttons {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;

      > * {
        flex: 1;
      }

      input[type="submit"] {
        @extend .primary-cta;
      }
    }

    .form-errors {
      --warn-color: #df1313;

      color: var(--warn-color);
      border: 1px solid var(--warn-color);
    }
  }

  .verification-code {
    input {
      width: 2rem !important;
      text-align: center;
    }
  }

  .progress-bar {
    border-top: 1px solid var(--grey-200);
    position: relative;
    display: inline-flex;
    gap: 1rem;

    span {
      display: inline-block;
      background: var(--grey-200);
      height: 1rem;
      width: 1rem;
      border-radius: 100%;
      position: relative;
      top: -0.5rem;

      &.completed {
        background: var(--grey-400);
      }
    }
  }

  .form-content {
    max-width: 912px;
  }

  #zone-selection-page {
    #zone-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      ul#search-results,
      ul#selected-zones {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        &.hidden {
          display: none;
        }

        &.no-results {
          flex-basis: 100%;
        }

        li.zone-tag {
          padding: 0.5rem 0.75rem;
          color: var(--grey-500);
          background-color: var(--grey-100);
          border-radius: var(--border-radius);
          cursor: pointer;

          &.selected {
            background-color: var(--grey-500);
            color: var(--grey-100);

            &::before {
              content: "✓";
              margin-right: 5px;
            }
          }
        }
      }
    }

    .zone-region-group {
      border-top: 1px solid var(--grey-200);

      &:last-child {
        border-bottom: 1px solid var(--grey-200);
      }

      @media (min-width: variables.$mobile-breakpoint) {
        .zone-checkboxes {
          column-count: 2;
        }
      }

      .zone-level-group {
        &.zone-level-group-2 {
          margin-bottom: 1rem;
        }

        &.zone-level-group-1 {
          .zone-letter-group {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  #confirmation-page {
    section {
      header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
  }
}
