:root {
  --main-colour: #3880d1;
  --main-colour-dark: #104b8e;
  --main-colour-light: #dae7f7;
  --main-colour-lightest: #edf4fb;
  --main-colour-highlight: #70cdff;
  --border-color: var(--mid-grey);
  --divider-color: var(--light-grey-grey);
  --primary-text-color: var(--black);
  --secondary-text-color: var(--mid-grey);
  --lightest-grey: #f5f5f5;
  --light-grey-grey: #e5e5e5;
  --mid-grey: #757575;
  --dark-grey: #2c2c2c;
  --black: #000;
  --border-radius: 8px;
  --max-width: 1400px;
}

$mobile-breakpoint: 768px; // CSS variables can't currently be used in media queries, so we use SCSS variables instead
