:root {
  --main-colour-800: #123257;
  --main-colour-700: #104b8e;
  --main-colour-600: #205694;
  --main-colour-500: #3880d1;
  --main-colour-400: #9abfe9;
  --main-colour-300: #dce9f9;
  --main-colour-200: #edf4fb;
  --main-colour-100: #f9fbfe;
  --main-colour-highlight: #70cdff;
  --black: #000;
  --grey-400: #2c2c2c;
  --grey-300: #757575;
  --grey-200: #e5e5e5;
  --grey-100: #f5f5f5;
  --primary-text-color: var(--black);
  --secondary-text-color: var(--grey-300);
  --border-radius: 8px;
  --max-width: 1400px;
}

$mobile-breakpoint: 1024px; // CSS variables can't currently be used in media queries, so we use SCSS variables instead
